@media(max-width:768px) {
  .button {
    width: 240px;
    padding: 10px 0px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 14.17px;
    letter-spacing: -0.2%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .dark-button {
    width: 240px;
    padding: 10px 0px;

    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: -0.2%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }
}