@media(max-width:768px) {
  .button {
    width: 240px;
    padding: 10px 0px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 14.17px;
    letter-spacing: -0.2%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .dark-button {
    width: 240px;
    padding: 10px 0px;

    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: -0.2%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  header {
    padding: 17px 21px;
  }

  .menu {
    display: none;
  }

  .mob-menu {
    display: flex;
    align-items: center;
  }

  .mob-menu li {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
    transition: color .2s ease;
  }

  .mob-menu li:hover {
    color: #244b80;
  }

  .request {
    padding: 40px 20px;
  }

  .request .content {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .about .content {
    display: none;
  }

  .about {
    padding: 130px 20px;
    padding-bottom: 0;
  }

  .about .mob-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .about .mob-content .up {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .about .mob-content .up img {
    width: 285px;
    height: 281px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;
  }

  .about .mob-content .up .left p {
    margin-top: 50px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0%;

  }

  .about .mob-content .down {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .about .mob-content .down p {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .about .mob-content .down img {
    height: 310px;
    border-radius: 20px;
  }

  .catalog {
    padding: 130px 20px;
    padding-bottom: 0;
  }

  .catalog .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}